node_modules/

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Nuxt.js build / generate output
.nuxt
dist

# Optional npm cache directory
.npm

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map