<footer>
    <div class="footer" id="contact">
        <div class="footerContainer">
            <div class="logoFooter">
                <a href="index.html"><img class="logoFooter__img" src="./IMAGES/logo-sistemas-espaciales.png"
                        alt="logo de un astronauta" style="width: 60; height: 60;"></a>
                <span class="logoFooter__span" style="color: white;">SPACE SYSTEMS</span>
            </div>
            <h3 class="footerContainer__h3">Quieres saber más? <br>Hablemos...</h3>
            <hr>
            <hr>
            <a class="footerContainer__a" href="tel:+34617680207"><i class="fa-solid fa-phone"
                    style="color: white;"></i>+34 673 333
                217 444</a><br>
            <a class="footerContainer__a" href="mailto:nico.93nmh@gmail.com"><i class="fa-solid fa-envelope"
                    style="color: white;"></i>prueba_mail@pruebas.com</a><br>
            <span class="footerContainer__span"><i class="fa-solid fa-house" style="color: white;"></i>Vilafranca,
                Barcelona, Spain</span><br>
            <div class="linksFooter">
                <h3 class="linksFooter__h3">Links</h3>
                <hr>
                <hr>
                <a class="linksFooter__a" href="index.html">Home</a><br>
                <a class="linksFooter__a" href="presentacion.html">Presentación</a><br>
                <a class="linksFooter__a" href="categoria.html">Categorías</a><br>
                <a class="linksFooter__a" href="enlaces.html">Biografía</a><br>
                <a class="linksFooter__a" href="potencia.html">Potencia</a><br>
                <a class="linksFooter__a" href="medio-ambiente-espacial.html">Medio ambiente espacial</a><br>
                <a class="linksFooter__a" href="mecanica-orbital.html">Mecanica orbital</a><br>
                <a class="linksFooter__a" href="control-termico.html">Control termico</a><br>
                <a class="linksFooter__a" href="cohetes-y-lanzadores.html">Cohetes y lanzadores</a>
            </div>
        </div>
        <div class="footerContainer">
            <form class="form" action="https://formspree.io/f/mgejpjrz" method="POST">
                <p class="form__p">ESTEMOS EN CONTACTO</p>
                <h3 class="form__h3">Contactame</h3>
                <input class="form__input" type="text" name="text" placeholder="NAME">
                <input class="form__input" type="text" name="text" placeholder="MOBILE">
                <input class="form__input" type="email" name="email" placeholder="EMAIL">
                <textarea class="form__textarea" name="message" placeholder="MESSAGE"></textarea>
                <button class="form__btn" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</footer>