<div class="headerDesktop">
    <div class="headerDesktop__content">
        <a href="index.html"><img class="headerDesktop__img" src="./IMAGES/logo-sistemas-espaciales.png"
                alt="logo de un astronauta" style="width: 60px; height: 60px;"></a>
        <a href="index.html"> <span class="headerDesktop__span" style="color: #FD602E;">SPACE SYSTEMS</span></a>
    </div>
    <div class="headerDesktop__content">
        <nav class="headerDesktop__nav">
            <ul class="headerDesktop__ul">
                <li class="headerDesktop__li"><a class="headerDesktop__a" href="presentacion.html">Presentación</a></li>
                <li class="headerDesktop__li"><a class="headerDesktop__a" href="categoria.html">Categorías</a>
                </li>
                <li class="headerDesktop__li"><a class="headerDesktop__a" href="enlaces.html">Enlaces</a></li>
            </ul>
        </nav>
    </div>
</div>